#sunrise {
    /*width: calc(100% - 23px);
    height: calc(100% - 54px);
    border: 2px solid red;
    border-radius: 5px;
    margin-top: 5px;    */
}

#sunriseParent {
    text-align: center;
}

.sunDisplay {
    font-size: 75px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 25px;
    padding: 15px;
}

.sunDisplay.timeChange {
    background-color: black;
    color: white;
}
.sunDisplay.dayLength {
    font-size: 45px;
    padding: 8px;
}

/*homework assignement is:
    get initial style the way you want it
    Then:
    change the style using JavaScript
    Then: change the style after 15 sec.
    hint:
    was done on the timer page
    use:
    window.setTimeout istead of window.setInterval

    What I want:
    Bigger font with sunrise and sunset on different lines and in boxes.
*/
