#grids {
    height: 100%;
}

#myGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr;
    height: calc(100% - 40px);
    grid-column-gap: 5px;
}

.gridElement {
    border: 1px solid black;
    border-radius: 3px;
    margin: 3px;
    padding: 10px;
}

#nestedGrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
}

.nestedCell {
    background: #eeeeee;
}
